{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 11"
        ]
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
